{{ 'section-te-double-column.css' | asset_url | stylesheet_tag }}

<noscript>{{ 'section-te-double-column.css' | asset_url | stylesheet_tag }}</noscript>

<div
  class="color--{{ section.settings.color_scheme }} te-section-container--full-width"
  data-section-type="{{ section.settings.name }}"
  data-section-id="{{ section.id }}"
>
  <div class="section--te-double-column-container">
    <div class="double-column__header--container">
      <div class="double-column__header--titles">
        {%- unless section.settings.subtitle == blank -%}
          <h3 class="caption-with-letter-spacing">{{ section.settings.subtitle }}</h3>
        {%- endunless -%}
        {%- unless section.settings.title == blank -%}
          <h2 class="te-display te-display--med te-weight--display-semibold">{{ section.settings.title }}</h2>
        {%- endunless -%}
      </div>
      {%- unless section.settings.caption == blank -%}
        <div class="header--caption">
          <h5 class="te-text te-text--xl te-weight--text-normal">{{ section.settings.caption }}</h5>
        </div>
      {%- endunless -%}
    </div>
    <div class="double-column__content-container">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
            <!-- -----   column text block   ------- -->

          {%- when 'column__text' -%}
            <div class="double-column__block-container column__text-container" {{ block.shopify_attributes }}>
              <p class="te-text te-text--lg te-weight--text-normal">{{ block.settings.column__textarea }}</p>
            </div>

            <!-- -----   end column text   ---------- -->
            <!-- -----   column image block   ------- -->

          {%- when 'column__image' -%}
            <div class="column__image-container" {{ block.shopify_attributes }}>
              <p>image block</p>
              <img src="{{ block.settings.column__image }}">
            </div>

            <!-- ----   end column image   ------- -->
            <!-- ----  column bullet block ------- -->

          {%- when 'column__bullet' -%}
            {%- assign first-bullet = block.settings['bullet__title-1'] -%}
            {%- assign second-bullet = block.settings['bullet__title-2'] -%}
            {%- assign third-bullet = block.settings['bullet__title-3'] -%}

            <div class="double-column__block-container" {{ block.shopify_attributes }}>
              {%- unless first-bullet == blank -%}
                {% capture icon %}{{ block.settings.bullet__icon-1 }}{% endcapture %}
                <div class="double-column__bullet">
                  <div class="bullet__icon-wrapper {% if block.settings.bullet__hide-icon-1 == true %}hidden{% endif %}">
                    {%- if icon == 'option_a' -%}
                      {%- render 'icon-triangle-block' -%}
                    {%- elsif icon == 'option_b' -%}
                      {%- render 'icon-star-block' -%}
                    {%- elsif icon == 'option_c' -%}
                      {%- render 'icon-octagon-block' -%}
                    {%- elsif icon == 'option_e' -%}
                      {%- render 'icon-recycle-block' -%}
                    {%- elsif icon == 'option_f' -%}
                      {%- render 'icon-planet-block' -%}
                    {%- else -%}
                      {%- render 'icon-hexagon-block' -%}
                    {%- endif -%}
                  </div>
                  <div class="bullet__content-container">
                    <h5 class="te-display te-display--xs te-weight--display-med">
                      {{ block.settings['bullet__title-1'] }}
                    </h5>
                    <p class="te-text te-text--md te-weight--text-normal font-te-teal--50">
                      {{ block.settings['bullet__message-1'] }}
                    </p>
                  </div>
                </div>
              {%- endunless -%}

              {%- unless second-bullet == blank -%}
                {% capture icon %}{{ block.settings.bullet__icon-2 }}{% endcapture %}
                <div class="double-column__bullet">
                  <div class="bullet__icon-wrapper {% if block.settings.bullet__hide-icon-2 == true %}hidden{% endif %}">
                    {%- if icon == 'option_a' -%}
                      {%- render 'icon-triangle-block' -%}
                    {%- elsif icon == 'option_b' -%}
                      {%- render 'icon-star-block' -%}
                    {%- elsif icon == 'option_c' -%}
                      {%- render 'icon-octagon-block' -%}
                    {%- elsif icon == 'option_e' -%}
                      {%- render 'icon-recycle-block' -%}
                    {%- elsif icon == 'option_f' -%}
                      {%- render 'icon-planet-block' -%}
                    {%- else -%}
                      {%- render 'icon-hexagon-block' -%}
                    {%- endif -%}
                  </div>
                  <div class="bullet__content-container">
                    <h5 class="te-display te-display--xs te-weight--display-med">
                      {{ block.settings['bullet__title-2'] }}
                    </h5>
                    <p class="te-text te-text--md te-weight--text-normal font-te-teal--50">
                      {{ block.settings['bullet__message-2'] }}
                    </p>
                  </div>
                </div>
              {%- endunless -%}

              {%- unless third-bullet == blank -%}
                {% capture icon %}{{ block.settings.bullet__icon-3 }}{% endcapture %}
                <div class="double-column__bullet">
                  <div class="bullet__icon-wrapper{% if block.settings.bullet__hide-icon-3 == true %}hidden{% endif %}">
                    {%- if icon == 'option_a' -%}
                      {%- render 'icon-triangle-block' -%}
                    {%- elsif icon == 'option_b' -%}
                      {%- render 'icon-star-block' -%}
                    {%- elsif icon == 'option_c' -%}
                      {%- render 'icon-octagon-block' -%}
                    {%- elsif icon == 'option_e' -%}
                      {%- render 'icon-recycle-block' -%}
                    {%- elsif icon == 'option_f' -%}
                      {%- render 'icon-planet-block' -%}
                    {%- else -%}
                      {%- render 'icon-hexagon-block' -%}
                    {%- endif -%}
                  </div>
                  <div class="bullet__content-container">
                    <h5 class="te-display te-display--xs te-weight--display-med">
                      {{ block.settings['bullet__title-3'] }}
                    </h5>
                    <p class="te-text te-text--md te-weight--text-normal font-te-teal--50">
                      {{ block.settings['bullet__message-3'] }}
                    </p>
                  </div>
                </div>
              {%- endunless -%}
            </div>

            <!-- ----  end column bullet  ------- -->
            <!-- ----  column title block  ------- -->

          {%- when 'column__title' -%}
            {% capture icon %}{{ block.settings.title__icon }}{% endcapture %}
            <div class="double-column__block-container--row">
              <div class="title-column">
                <div class="column__title-icon-wrapper {% if block.settings.title__hide-icon == true %}hidden{% endif %}">
                  {%- if icon == 'option_a' -%}
                    {%- render 'icon-triangle-block' -%}
                  {%- elsif icon == 'option_b' -%}
                    {%- render 'icon-star-block' -%}
                  {%- elsif icon == 'option_c' -%}
                    {%- render 'icon-octagon-block' -%}
                  {%- else -%}
                    {%- render 'icon-hexagon-block' -%}
                  {%- endif -%}
                </div>
                <div class="title-column__headers">
                  <h3 class="caption-with-letter-spacing">{{ block.settings.title__subtitle }}</h3>
                  <h2 class="te-display te-display--med te-weight--display-semibold">
                    {{ block.settings.title__title }}
                  </h2>
                </div>
                <h5 class="te-text te-text--xl te-weight--text-normal font-te-teal--50">
                  {{ block.settings.title__message }}
                </h5>
              </div>
            </div>

            <!-- ----  end column title  ------- -->
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "TE Double Column",
  "tag": "section",
  "class": "te-section-container",
  "settings": [
    {
      "type": "header",
      "content": "Color scheme"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "te-default",
          "label": "t:sections.all.colors.te-color-default.label"
        },
        {
          "value": "te-cream-dark",
          "label": "t:sections.all.colors.te-color-cream-dark.label"
        },
        {
          "value": "te-teal-light",
          "label": "t:sections.all.colors.te-color-teal-light.label"
        },
        {
          "value": "te-teal-dark",
          "label": "t:sections.all.colors.te-color-teal-dark.label"
        },
        {
          "value": "te-silver-light",
          "label": "t:sections.all.colors.te-color-silver-light.label"
        },
        {
          "value": "te-silver-dark",
          "label": "t:sections.all.colors.te-color-silver-dark.label"
        },
        {
          "value": "te-black-white",
          "label": "t:sections.all.colors.te-color-black-white.label"
        }
      ],
      "default": "te-default",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "Headers"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Our Story"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Etiam egestas in nec sed et"
    },
    {
      "type": "text",
      "id": "caption",
      "label": "Caption",
      "default": " In tincidunt pharetra consectetur sed duis facilisis metus. Etiam egestas in."
    }
  ],
  "max_blocks": 2,
  "blocks": [
    {
      "type": "column__text",
      "name": "Paragraph column",
      "settings": [
        {
          "type": "textarea",
          "id": "column__textarea",
          "label": "Text area",
          "default": "Morbi sed imperdiet in ipsum, adipiscing elit dui lectus. Tellus id scelerisque est ultricies ultricies. Duis est sit sed leo nisl, blandit elit sagittis. Quisque tristique consequat quam sed. Nisl at scelerisque amet nulla purus habitasse."
        }
      ]
    },
    {
      "type": "column__image",
      "name": "Image column",
      "settings": [
        {
          "type": "image_picker",
          "id": "column__image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "column__bullet",
      "name": "Bullet column",
      "settings": [
        {
          "type": "header",
          "content": "First Bullet"
        },
        {
          "type": "checkbox",
          "id": "bullet__hide-icon-1",
          "label": "Hide icon",
          "default": false
        },
        {
          "type": "select",
          "id": "bullet__icon-1",
          "label": "Icon",
          "options": [
            {
              "value": "option_a",
              "label": "Icon A"
            },
            {
              "value": "option_b",
              "label": "Icon B"
            },
            {
              "value": "option_c",
              "label": "Icon C"
            },
            {
              "value": "option_d",
              "label": "Icon D"
            },
            {
              "value": "option_e",
              "label": "Recycle/White"
            },
            {
              "value": "option_f",
              "label": "Planet/White"
            }
          ],
          "default": "option_a"
        },
        {
          "type": "text",
          "id": "bullet__title-1",
          "label": "Bullet title",
          "default": "Aliquam ac euismod quam"
        },
        {
          "type": "textarea",
          "id": "bullet__message-1",
          "label": "Bullet Content",
          "default": "Phasellus non maximus risus. Praesent sem ante, aliquam quis elit et, laoreet eleifend lorem. Donec vitae erat lacinia mi laoreet fringilla."
        },
        {
          "type": "header",
          "content": "Second Bullet"
        },
        {
          "type": "checkbox",
          "id": "bullet__hide-icon-2",
          "label": "Hide icon",
          "default": false
        },
        {
          "type": "select",
          "id": "bullet__icon-2",
          "label": "Icon",
          "options": [
            {
              "value": "option_a",
              "label": "Icon A"
            },
            {
              "value": "option_b",
              "label": "Icon B"
            },
            {
              "value": "option_c",
              "label": "Icon C"
            },
            {
              "value": "option_d",
              "label": "Icon D"
            },
            {
              "value": "option_e",
              "label": "Recycle/White"
            },
            {
              "value": "option_f",
              "label": "Planet/White"
            }
          ],
          "default": "option_a"
        },
        {
          "type": "text",
          "id": "bullet__title-2",
          "label": "Bullet title",
          "default": "Aliquam ac euismod quam"
        },
        {
          "type": "textarea",
          "id": "bullet__message-2",
          "label": "Bullet Content",
          "default": "Phasellus non maximus risus. Praesent sem ante, aliquam quis elit et, laoreet eleifend lorem. Donec vitae erat lacinia mi laoreet fringilla."
        },
        {
          "type": "header",
          "content": "Third Bullet"
        },
        {
          "type": "checkbox",
          "id": "bullet__hide-icon-3",
          "label": "Hide icon",
          "default": false
        },
        {
          "type": "select",
          "id": "bullet__icon-3",
          "label": "Icon",
          "options": [
            {
              "value": "option_a",
              "label": "Icon A"
            },
            {
              "value": "option_b",
              "label": "Icon B"
            },
            {
              "value": "option_c",
              "label": "Icon C"
            },
            {
              "value": "option_d",
              "label": "Icon D"
            },
            {
              "value": "option_e",
              "label": "Recycle/White"
            },
            {
              "value": "option_f",
              "label": "Planet/White"
            }
          ],
          "default": "option_a"
        },
        {
          "type": "text",
          "id": "bullet__title-3",
          "label": "Bullet title",
          "default": "Aliquam ac euismod quam"
        },
        {
          "type": "textarea",
          "id": "bullet__message-3",
          "label": "Bullet Content",
          "default": "Phasellus non maximus risus. Praesent sem ante, aliquam quis elit et, laoreet eleifend lorem. Donec vitae erat lacinia mi laoreet fringilla."
        }
      ]
    },
    {
      "type": "column__title",
      "name": "Title Column",
      "settings": [
        {
          "type": "text",
          "id": "title__subtitle",
          "label": "Subtitle",
          "default": "Choose conscious"
        },
        {
          "type": "text",
          "id": "title__title",
          "label": "Title",
          "default": "Save your sanity and the planet"
        },
        {
          "type": "textarea",
          "id": "title__message",
          "label": "Text area",
          "default": "In ipsum nibh, fermentum a tempor ut, interdum eu ipsum. Integer volutpat suscipit neque, ut ullamcorper dolor aliquam non."
        },
        {
          "type": "checkbox",
          "id": "title__hide-icon",
          "label": "Hide icon",
          "default": false
        },
        {
          "type": "select",
          "id": "title__icon",
          "label": "Icon",
          "options": [
            {
              "value": "option_a",
              "label": "Icon A"
            },
            {
              "value": "option_b",
              "label": "Icon B"
            },
            {
              "value": "option_c",
              "label": "Icon D"
            },
            {
              "value": "option_d",
              "label": "Icon D"
            }
          ],
          "default": "option_a"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "TE Double Column"
    }
  ]
}
{% endschema %}
