{{ 'section-te-dbl-col-feature.css' | asset_url | stylesheet_tag }}

<noscript>{{ 'section-te-dbl-col-feature.css' | asset_url | stylesheet_tag }}</noscript>

<div
  class="color--{{ section.settings.color_scheme }} te-section-container--full-width"
  data-section-type="{{ section.settings.name }}"
  data-section-id="{{ section.id }}"
>
  <div class="section--te-dbl-col-feature">
    <h3>{{ section.settings.subtitle }}</h3>
    <h2>{{ section.settings.title }}</h2>
    <h5>{{ section.settings.caption }}</h5>
  </div>
  <div class="text-container"></div>
</div>

{% schema %}
{
  "name": "TE Double Column",
  "tag": "section",
  "class": "te-section-container",
  "settings": [
    {
      "type": "header",
      "content": "Background Colors"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "te-default",
          "label": "t:sections.all.colors.te-color-default.label"
        },
        {
          "value": "te-cream-dark",
          "label": "t:sections.all.colors.te-color-cream-dark.label"
        },
        {
          "value": "te-teal-light",
          "label": "t:sections.all.colors.te-color-teal-light.label"
        },
        {
          "value": "te-teal-dark",
          "label": "t:sections.all.colors.te-color-teal-dark.label"
        },
        {
          "value": "te-silver-light",
          "label": "t:sections.all.colors.te-color-silver-light.label"
        },
        {
          "value": "te-silver-dark",
          "label": "t:sections.all.colors.te-color-silver-dark.label"
        },
        {
          "value": "te-black-white",
          "label": "t:sections.all.colors.te-color-black-white.label"
        }
      ],
      "default": "te-default",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "Headers"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Our Story"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Etiam egestas in nec sed et"
    },
    {
      "type": "text",
      "id": "caption",
      "label": "Caption",
      "default": " In tincidunt pharetra consectetur sed duis facilisis metus. Etiam egestas in."
    }
  ],
  "max_blocks": 2,
  "blocks": [
    {
      "type": "column__text",
      "name": "Paragraph column",
      "settings": [
        {
          "type": "textarea",
          "id": "column__textarea",
          "label": "Text area",
          "default": "Morbi sed imperdiet in ipsum, adipiscing elit dui lectus. Tellus id scelerisque est ultricies ultricies. Duis est sit sed leo nisl, blandit elit sagittis. Quisque tristique consequat quam sed. Nisl at scelerisque amet nulla purus habitasse."
        }
      ]
    },
    {
      "type": "column__image",
      "name": "Image column",
      "settings": [
        {
          "type": "image_picker",
          "id": "column__image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "column__bullet",
      "name": "Bullet column",
      "settings": [
        {
          "type": "select",
          "id": "bullet__icon",
          "label": "Icon",
          "options": [
            {
              "value": "one",
              "label": "Top"
            },
            {
              "value": "two",
              "label": "midddle"
            },
            {
              "value": "three",
              "label": "Bottom"
            },
            {
              "value": "none",
              "label": "none"
            }
          ],
          "default": "none"
        },
        {
          "type": "text",
          "id": "bullet__title",
          "label": "Bullet title",
          "default": "Aliquam ac euismod quam"
        },
        {
          "type": "textarea",
          "id": "bullet__message",
          "label": "Bullet Content",
          "default": "Phasellus non maximus risus. Praesent sem ante, aliquam quis elit et, laoreet eleifend lorem. Donec vitae erat lacinia mi laoreet fringilla."
        }
      ]
    },
    {
      "type": "column__title",
      "name": "Title Column",
      "settings": [
        {
          "type": "text",
          "id": "title__title",
          "label": "Title",
          "default": "Why two months?"
        },
        {
          "type": "textarea",
          "id": "title__message",
          "label": "Text area",
          "default": "Nam viverra fermentum felis, sed scelerisque risus iaculis in. Etiam velit risus, tincidunt vitae risus quis, imperdiet."
        },
        {
          "type": "select",
          "id": "title__icon",
          "label": "Icon",
          "options": [
            {
              "value": "one",
              "label": "Top"
            },
            {
              "value": "two",
              "label": "midddle"
            },
            {
              "value": "three",
              "label": "Bottom"
            },
            {
              "value": "none",
              "label": "none"
            }
          ],
          "default": "none"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "TE Double Column"
    }
  ]
}
{% endschema %}
