<link
  rel="stylesheet"
  href="{{ 'section-te-feature-w-image.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>

<noscript>{{ 'section-te-feature-w-image.css' | asset_url | stylesheet_tag }}</noscript>

<div
  class="color--{{ section.settings.color_scheme }} te-section-container--full-width"
  data-section-type="{{ section.settings.name }}"
  data-section-id="{{ section.id }}"
>
  <div class="section--te-feature-w-image">
    <div class="fwi-container">
      <div class="fwi-title-container">
        <div class="fwi-title-content">
          {% unless section.settings.fwi_section_heading == blank %}
            <h2 class="fwi-heading te-display--md te-display--light">
              {{ section.settings.fwi_section_heading }}
            </h2>
          {% endunless %}
          {% unless section.settings.fwi_section_subheading == blank %}
            <p class="fwi-subtitle">
              {{ section.settings.fwi_section_subheading }}
            </p>
          {% endunless %}
        </div>
      </div>

      <div class="fwi-card-container">
        <div class="fwi-column">
          {% for block in section.blocks %}
            {% assign column_A = block.type %}
            {% case column_A %}
              {% when 'feature_card__A' %}
                <div class="fwi-card">
                  {% render 'icon-hexagon-block' %}
                  <h5 class="fwi-card-title left">{{ block.settings.card_title }}</h5>
                  <p class="fwi-card-text left">
                    {{ block.settings.card_text }}
                  </p>
                </div>
              {% when 'feature_card__B' %}
                <div class="fwi-card">
                  <span class="fwi-icon-wrap">{% render 'icon-star-block' %}</span>
                  <h5 class="fwi-card-title left">{{ block.settings.card_title }}</h5>
                  <p class="fwi-card-text left">
                    {{ block.settings.card_text }}
                  </p>
                </div>
              {% else %}

            {% endcase %}
          {% endfor %}
        </div>

        <div class="fwi-img-wrapper">
          {%- if section.settings.fwi_image != blank -%}
            <img
              src="{{ section.settings.fwi_image | image_url: width: 480 }}"
              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
              alt="{{ section.settings.image.alt | escape }}"
              loading="lazy"
              width="480"
              height="384"
            >
          {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>

        <div class="fwi-column">
          {% for block in section.blocks %}
            {% assign column_B = block.type %}
            {% case column_B %}
              {% when 'feature_card__C' %}
                <div class="fwi-card">
                  {% render 'icon-triangle-block' %}
                  <h5 class="fwi-card-title left">{{ block.settings.card_title }}</h5>
                  <p class="fwi-card-text left">
                    {{ block.settings.card_text }}
                  </p>
                </div>
              {% when 'feature_card__D' %}
                <div class="fwi-card">
                  {% render 'icon-octagon-block' %}
                  <h5 class="fwi-card-title left">{{ block.settings.card_title }}</h5>
                  <p class="fwi-card-text left">
                    {{ block.settings.card_text }}
                  </p>
                </div>
              {% else %}

            {% endcase %}
          {% endfor %}
        </div>
      </div>

      <div class="fwi-cta-container">
        <a class="te-button te-button--green">Gift a Kit</a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "TE Feature w Image",
  "tag": "section",
  "class": "te-section-container",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "te-default",
          "label": "t:sections.all.colors.te-color-default.label"
        },
        {
          "value": "te-cream-dark",
          "label": "t:sections.all.colors.te-color-cream-dark.label"
        },
        {
          "value": "te-teal-light",
          "label": "t:sections.all.colors.te-color-teal-light.label"
        },
        {
          "value": "te-teal-dark",
          "label": "t:sections.all.colors.te-color-teal-dark.label"
        },
        {
          "value": "te-silver-light",
          "label": "t:sections.all.colors.te-color-silver-light.label"
        },
        {
          "value": "te-silver-dark",
          "label": "t:sections.all.colors.te-color-silver-dark.label"
        },
        {
          "value": "te-black-white",
          "label": "t:sections.all.colors.te-color-black-white.label"
        }
      ],
      "default": "te-default",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "textarea",
      "id": "fwi_section_heading",
      "label": "Section title",
      "default": "The right learning materials at just the right time "
    },
    {
      "type": "textarea",
      "id": "fwi_section_subheading",
      "label": "Section subtitle",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua"
    },
    {
      "type": "image_picker",
      "id": "fwi_image",
      "label": "Featured Image"
    }
  ],
  "blocks": [
    {
      "type": "feature_card__A",
      "name": "Feature Card 1",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "icon_select",
          "label": "Icon",
          "options": [
            {
              "value": "icon_1",
              "label": "Icon 1"
            },
            {
              "value": "icon_2",
              "label": "Icon 2"
            },
            {
              "value": "icon_3",
              "label": "Icon 3"
            },
            {
              "value": "icon_4",
              "label": "Icon 4"
            },
            {
              "value": "icon_5",
              "label": "Icon 5"
            },
            {
              "value": "icon_6",
              "label": "Icon 6"
            }
          ],
          "default": "icon_1"
        },
        {
          "type": "text",
          "id": "card_title",
          "label": "Card Title",
          "default": "Card Title"
        },
        {
          "type": "textarea",
          "id": "card_text",
          "label": "Caption",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis hendrerit dolor magna eget."
        }
      ]
    },
    {
      "type": "feature_card__B",
      "name": "Feature Card 2",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "icon_select",
          "label": "Icon",
          "options": [
            {
              "value": "icon_1",
              "label": "Icon 1"
            },
            {
              "value": "icon_2",
              "label": "Icon 2"
            },
            {
              "value": "icon_3",
              "label": "Icon 3"
            },
            {
              "value": "icon_4",
              "label": "Icon 4"
            },
            {
              "value": "icon_5",
              "label": "Icon 5"
            },
            {
              "value": "icon_6",
              "label": "Icon 6"
            }
          ],
          "default": "icon_1"
        },
        {
          "type": "text",
          "id": "card_title",
          "label": "Card Title",
          "default": "Card Title"
        },
        {
          "type": "textarea",
          "id": "card_text",
          "label": "Caption",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis hendrerit dolor magna eget."
        }
      ]
    },
    {
      "type": "feature_card__C",
      "name": "Feature Card 3",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "icon_select",
          "label": "Icon",
          "options": [
            {
              "value": "icon_1",
              "label": "Icon 1"
            },
            {
              "value": "icon_2",
              "label": "Icon 2"
            },
            {
              "value": "icon_3",
              "label": "Icon 3"
            },
            {
              "value": "icon_4",
              "label": "Icon 4"
            },
            {
              "value": "icon_5",
              "label": "Icon 5"
            },
            {
              "value": "icon_6",
              "label": "Icon 6"
            }
          ],
          "default": "icon_1"
        },
        {
          "type": "text",
          "id": "card_title",
          "label": "Card Title",
          "default": "Card Title"
        },
        {
          "type": "textarea",
          "id": "card_text",
          "label": "Caption",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis hendrerit dolor magna eget."
        }
      ]
    },
    {
      "type": "feature_card__D",
      "name": "Feature Card 4",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "icon_select",
          "label": "Icon",
          "options": [
            {
              "value": "icon_1",
              "label": "Icon 1"
            },
            {
              "value": "icon_2",
              "label": "Icon 2"
            },
            {
              "value": "icon_3",
              "label": "Icon 3"
            },
            {
              "value": "icon_4",
              "label": "Icon 4"
            },
            {
              "value": "icon_5",
              "label": "Icon 5"
            },
            {
              "value": "icon_6",
              "label": "Icon 6"
            }
          ],
          "default": "icon_1"
        },
        {
          "type": "text",
          "id": "card_title",
          "label": "Card Title",
          "default": "Card Title"
        },
        {
          "type": "textarea",
          "id": "card_text",
          "label": "Caption",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis hendrerit dolor magna eget."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "TE Feature with Image",
      "blocks": [
        {
          "type": "feature_card__A"
        },
        {
          "type": "feature_card__B"
        },
        {
          "type": "feature_card__C"
        },
        {
          "type": "feature_card__D"
        }
      ]
    }
  ]
}
{% endschema %}
