<!--
  -<link rel="stylesheet" href="{{ 'component-te-rte.css' | asset_url }}" media="print" onload="this.media='all'">-
-->
<link rel="stylesheet" href="{{ 'section-te-features-basic.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">

<!-- <noscript>{{ 'component-te-rte.css' | asset_url | stylesheet_tag }}</noscript>- -->
<noscript>{{ 'section-te-features-basic.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-card.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section
  class="feat-basic color--{{ section.settings.color_scheme }}"
  data-section-type="{{ section.name }}"
  data-section-id="{{ section.id }}"
>
  <div class="title-wrapper">
    <div class="title title--primary center">
      {% unless section.settings.section_title == blank %}
        <h1 class="te-display--lg">{{ section.settings.section_title }}</h1>
      {% endunless %}
      <div class="subtitle subtitle--small">
        {% unless section.settings.section_text == blank %}
          {{ section.settings.section_text }}
        {% endunless %}
      </div>
    </div>
  </div>
  <div class="grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down">
    {%- for block in section.blocks -%}
      <div class=" card grid__item">
        <span class="te-icon-lg icon-wrap ">
          {% case block.settings.icon_select %}
            {% when 'icon_1' %}
              {% render 'icon-triangle-block' %}
            {% when 'icon_2' %}
              {% render 'icon-star-block' %}
            {% when 'icon_3' %}
              {% render 'icon-hexagon-block' %}
            {% when 'icon_4' %}
              {% render 'icon-octagon-block' %}
            {% when 'icon_5' %}
              {% render 'icon-pinterest' %}
            {% when 'icon_6' %}
              {% render 'icon-snapchat' %}
          {% endcase %}
        </span>
        <h4 class="{{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
          <p class="te-display--xs">{{ block.settings.card_title }}</p>
        </h4>
        <p class="feature-text">{{ block.settings.card_text }}</p>
      </div>
    {%- endfor -%}
  </div>
</section>

{% schema %}
{
  "name": "TE-Features Basic",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "te-default",
          "label": "t:sections.all.colors.te-color-default.label"
        },
        {
          "value": "te-cream-dark",
          "label": "t:sections.all.colors.te-color-cream-dark.label"
        },
        {
          "value": "te-teal-light",
          "label": "t:sections.all.colors.te-color-teal-light.label"
        },
        {
          "value": "te-teal-dark",
          "label": "t:sections.all.colors.te-color-teal-dark.label"
        },
        {
          "value": "te-silver-light",
          "label": "t:sections.all.colors.te-color-silver-light.label"
        },
        {
          "value": "te-silver-dark",
          "label": "t:sections.all.colors.te-color-silver-dark.label"
        },
        {
          "value": "te-black-white",
          "label": "t:sections.all.colors.te-color-black-white.label"
        }
      ],
      "default": "te-default",
      "label": "t:sections.all.colors.label"
    },

    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.te-features-basic.settings.full_width.label"
    },

    {
      "type": "richtext",
      "id": "section_title",
      "label": "t:sections.te-features-basic.settings.section_title.label",
      "default": "<p>Basic Features Section</p>"
    },

    {
      "type": "textarea",
      "id": "section_text",
      "label": "t:sections.te-features-basic.settings.section_text.label",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum ut tristique et egestas. Ut ornare lectus sit amet est placerat in egestas erat."
    },

    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 3,
      "label": "t:sections.te-features-basic.settings.columns_desktop.label"
    },

    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.te-features-basic.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.te-features-basic.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.te-features-basic.settings.columns_mobile.label"
    }
  ],

  "blocks": [
    {
      "type": "feature_card",
      "name": "Feature Card",
      "limit": 6,
      "settings": [
        {
          "type": "select",
          "id": "icon_select",
          "label": "Icon",
          "options": [
            {
              "value": "icon_1",
              "label": "Icon 1"
            },
            {
              "value": "icon_2",
              "label": "Icon 2"
            },
            {
              "value": "icon_3",
              "label": "Icon 3"
            },
            {
              "value": "icon_4",
              "label": "Icon 4"
            },
            {
              "value": "icon_5",
              "label": "Icon 5"
            },
            {
              "value": "icon_6",
              "label": "Icon 6"
            }
          ],
          "default": "icon_1"
        },

        {
          "type": "inline_richtext",
          "id": "card_title",
          "default": "My card title",
          "label": "Card Title"
        },

        {
          "type": "textarea",
          "id": "card_text",
          "label": "Card text",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aenean euismod elementum nisi quis eleifend quam adipiscing. Sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula."
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "TE-Features Basic",
      "blocks": [
        {
          "type": "feature_card"
        },
        {
          "type": "feature_card"
        },
        {
          "type": "feature_card"
        }
      ]
    }
  ]
}
{% endschema %}
