<link
  rel="stylesheet"
  href="{{ 'section-te-feature-w-image.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>

<noscript>{{ 'section-te-feature-w-image.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="isolate {% unless section.settings.full_width %} page-width{% endunless %} sect-te-feature-w-image">
  <div class="fwi-container">
    <div class="fwi-title-container">
      <div class="fwi-title-content">
        <h2 class="fwi-heading te-display--md te-display--light">
          The right learning materials at just the right <b><i>time</i></b>
        </h2>
        <p class="fwi-subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p>
      </div>
    </div>

    <div class="fwi-card-container">
      <div class="fwi-col-1">
        <div class="card">
          {% render 'icon-hexagon-block' %}
          <h5 class="fwi-card-title left">Card Title</h5>
          <p class="fwi-card-text left">
            Vivamus feugiat, nunc sed volutpat commodo, dolor dolor auctor magna, sit amet congue elit massa at turpis.
            In ipsum nibh.
          </p>
        </div>
        <div class="card">
          {% render 'icon-star-block' %}
          <h5 class="fwi-card-title left">Card Title</h5>
          <p class="fwi-card-text left">
            Vivamus feugiat, nunc sed volutpat commodo, dolor dolor auctor magna, sit amet congue elit massa at turpis.
            In ipsum nibh.
          </p>
        </div>
      </div>
      <div class="fwi-img-wrapper">
        <img
          src="https://cdn.shopify.com/s/files/1/0640/3099/8773/files/mother-son-montessori-shelf.jpg?v=1672513615"
          alt="Mother and son in front of montessori shelf"
          width="480"
          height="384"
          loading="lazy"
        >
      </div>
      <div class="fwi-col-2">
        <div class="card">
          {% render 'icon-triangle-block' %}
          <h5 class="fwi-card-title left">Card Title</h5>
          <p class="fwi-card-text left">
            Vivamus feugiat, nunc sed volutpat commodo, dolor dolor auctor magna, sit amet congue elit massa at turpis.
            In ipsum nibh.
          </p>
        </div>
        <div class="card">
          {% render 'icon-octagon-block' %}
          <h5 class="fwi-card-title left">Card Title</h5>
          <p class="fwi-card-text left">
            Vivamus feugiat, nunc sed volutpat commodo, dolor dolor auctor magna, sit amet congue elit massa at turpis.
            In ipsum nibh.
          </p>
        </div>
      </div>
    </div>

    <div class="fwi-cta-container">
      <a class="te-button te-button--green">Gift a Kit</a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "TE Feature w Image",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.rich-text.blocks.button.settings.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.rich-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.rich-text.blocks.button.settings.button_style_secondary.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "TE Feature with Image",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
