{{ 'section-te-image-banner.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div
  class="color--{{ section.settings.color_scheme }} te-section-container--full-width section-{{ section.id }}-padding"
  data-section-type="{{ section.settings.name }}"
  data-section-id="{{ section.id }}"
>
  <div class="section--te-image-banner">
    <div class="banner__titles">
      {%- for block in section.blocks -%}
        <div class="{{ block.settings.id }}-wrapper">
          {% case block.type %}
            {% when 'caption' %}
              <p>{{ block.settings.banner__caption }}</p>
            {% when 'subtitle' %}
              <p>{{ block.settings.banner__subtitle }}</p>
            {% when 'title' %}
              <h2>{{ block.settings.banner__title }}</h2>
          {% endcase %}
        </div>
      {%- endfor -%}
    </div>
    {% for block in section.blocks %}
      {% if block.type == 'image' %}
        {% unless block.settings.banner__image == blank %}
          <div class="banner__image">
            <img
              srcset="
                {%- if block.settings.banner__image.width >= 375 -%}{{ block.settings.banner__image | image_url: width: 375 }} 375w,{%- endif -%}
                {%- if block.settings.banner__image.width >= 550 -%}{{ block.settings.banner__image | image_url: width: 550 }} 550w,{%- endif -%}
                {%- if block.settings.banner__image.width >= 750 -%}{{ block.settings.banner__image | image_url: width: 750 }} 750w,{%- endif -%}
                {%- if block.settings.banner__image.width >= 1100 -%}{{ block.settings.banner__image | image_url: width: 1100 }} 1100w,{%- endif -%}
                {%- if block.settings.banner__image.width >= 1280 -%}{{ block.settings.banner__image | image_url: width: 1280 }} 1280w,{%- endif -%}
              "
              sizes="100vw"
              src="{{ block.settings.banne__image | image_url: width: 1280 }}"
              loading="lazy"
              alt="{{ block.settings.banner__image.alt | escape }}"
              width="{{ block.settings.banner__image.width }}"
              height="{{ block.settings.banner__image.width | divided_by: block.settings.banner__image.aspect_ratio }}"
              {% if section.settings.image_2 != blank %}
                class="banner__media-image-half"
              {% endif %}
            >
          </div>
        {% endunless %}
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "TE Image Header",
  "tag": "section",
  "class": "te-section-container",
  "settings": [
    {
      "type": "header",
      "content": "Color scheme"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "te-default",
          "label": "t:sections.all.colors.te-color-default.label"
        },
        {
          "value": "te-cream-dark",
          "label": "t:sections.all.colors.te-color-cream-dark.label"
        },
        {
          "value": "te-teal-light",
          "label": "t:sections.all.colors.te-color-teal-light.label"
        },
        {
          "value": "te-teal-dark",
          "label": "t:sections.all.colors.te-color-teal-dark.label"
        },
        {
          "value": "te-silver-light",
          "label": "t:sections.all.colors.te-color-silver-light.label"
        },
        {
          "value": "te-silver-dark",
          "label": "t:sections.all.colors.te-color-silver-dark.label"
        },
        {
          "value": "te-black-white",
          "label": "t:sections.all.colors.te-color-black-white.label"
        }
      ],
      "default": "te-default",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Section Title",
      "settings": [
        {
          "type": "richtext",
          "id": "banner__title",
          "label": "Main Title",
          "default": "<p>Banner Section Main Title</p>"
        }
      ]
    },
    {
      "type": "subtitle",
      "name": "Section Subtitle",
      "settings": [
        {
          "type": "textarea",
          "id": "banner__subtitle",
          "label": "Subtitle",
          "default": "Morbi sed imperdiet in ipsum, adipiscing elit dui lectus. Tellus id scelerisque est ultricies ultricies. Duis est sit sed leo nisl, blandit elit sagittis. Quisque tristique consequat quam sed. Nisl at scelerisque amet nulla purus habitasse."
        }
      ]
    },
    {
      "type": "caption",
      "name": "Section Caption",
      "settings": [
        {
          "type": "textarea",
          "id": "banner__caption",
          "label": "Caption",
          "default": "Etiam egestas in nec sed et"
        }
      ]
    },
    {
      "type": "image",
      "name": "Section Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "banner__image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "TE Image Header",
      "blocks": [
        {
          "type": "caption"
        },
        {
          "type": "title"
        },
        {
          "type": "subtitle"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
