<link rel="stylesheet" href="{{ 'section-te-multigallery.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-te-multigallery.css' | asset_url | stylesheet_tag }}</noscript>

{% for block in section.blocks %}
  {% capture group_name %}
    {{ block.settings.multigroup_name }}
  {% endcapture %}
  <h2>{{ group_name }}</h2>
{% endfor %}

{% capture selected_group %}
  none-selected
{% endcapture %}
<h2>{{ selected_group }}</h2>

<section class="isolate te-multigallery {{ section.settings.color_scheme }}">
  <div class="multi-title-container">
    <div class="mtc-content">
      <div class="mtc-content-headings-container">
        <h3 class="mtc-content-title te-display-xl te-display--bold">
          {{ section.settings.multigallery_section_heading }}
        </h3>
        <p class="mtc-content-subtitle ">
          {{ section.settings.multigallery_section_subtitle }}
        </p>
      </div>
    </div>
  </div>
  <div class="multi-gallery-container">
    {% for block in section.blocks %}
      <div class="mgc--img-container">
        <div class="mg-image-wrapper mg-image-wrapper--1">
          <img
            src="{{ block.settings.multigroup_image_1 | image_url: width: 480 }}"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
            alt="{{ block.settings.image.alt | escape }}"
            loading="lazy"
            width="480"
            height="384"
          >
        </div>
        <div class="mg-image-wrapper mg-image-wrapper--2">
          <img
            src="{{ block.settings.multigroup_image_2 | image_url: width: 480 }}"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
            alt="{{ block.settings.image.alt | escape }}"
            loading="lazy"
            width="480"
            height="384"
          >
        </div>
        <div class="mg-image-wrapper mg-image-wrapper--3">
          <img
            src="{{ block.settings.multigroup_image_3 | image_url: width: 480 }}"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
            alt="{{ block.settings.image.alt | escape }}"
            loading="lazy"
            width="480"
            height="384"
          >
        </div>
        <div class="mg-image-wrapper mg-image-wrapper--4">
          <img
            src="{{ block.settings.multigroup_image_4 | image_url: width: 480 }}"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
            alt="{{ block.settings.image.alt | escape }}"
            loading="lazy"
            width="480"
            height="384"
          >
        </div>
      </div>
    {% endfor %}

    <div class="mgc--btn-container">
      {% for block in section.blocks %}
        <button class="te-button mg-button">{{ block.settings.multigroup_name }}</button>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "TE Multi Gallery",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "te-color-default",
          "label": "t:sections.all.colors.te-color-default.label"
        },
        {
          "value": "te-color-cream-dark",
          "label": "t:sections.all.colors.te-color-cream-dark.label"
        },
        {
          "value": "te-color-teal-light",
          "label": "t:sections.all.colors.te-color-teal-light.label"
        },
        {
          "value": "te-color-teal-dark",
          "label": "t:sections.all.colors.te-color-teal-dark.label"
        },
        {
          "value": "te-color-silver-light",
          "label": "t:sections.all.colors.te-color-silver-light.label"
        },
        {
          "value": "te-color-silver-dark",
          "label": "t:sections.all.colors.te-color-silver-dark.label"
        },
        {
          "value": "te-color-black-white",
          "label": "t:sections.all.colors.te-color-black-white.label"
        }
      ],
      "default": "te-color-default",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "text",
      "id": "multigallery_section_heading",
      "label": "Section title",
      "default": "Educator curated toys that grow with your child"
    },
    {
      "type": "textarea",
      "id": "multigallery_section_subtitle",
      "label": "Section subtitle",
      "default": "Vestibulum porta finibus nunc eget feugiat. Maecenas sagittis quam sit amet nisi vestibulum."
    }
  ],
  "blocks": [
    {
      "type": "multigroup",
      "name": "Grouping",
      "limit": 7,
      "settings": [
        {
          "type": "text",
          "id": "multigroup_name",
          "default": "12-18 months",
          "label": "Age Group"
        },
        {
          "type": "image_picker",
          "id": "multigroup_image_1",
          "label": "Image 1"
        },
        {
          "type": "image_picker",
          "id": "multigroup_image_2",
          "label": "Image 2"
        },
        {
          "type": "image_picker",
          "id": "multigroup_image_3",
          "label": "Image 3"
        },
        {
          "type": "image_picker",
          "id": "multigroup_image_4",
          "label": "Image 4"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "TE Multi Gallery",
      "blocks": [
        {
          "type": "multigroup"
        },
        {
          "type": "multigroup"
        },
        {
          "type": "multigroup"
        },
        {
          "type": "multigroup"
        },
        {
          "type": "multigroup"
        },
        {
          "type": "multigroup"
        },
        {
          "type": "multigroup"
        }
      ]
    }
  ]
}
{% endschema %}
