{% comment %} <link rel="stylesheet" href="{{ 'section-te-newsletter.css' | asset_url }}" media="print" onload="this.media='all'"> {% endcomment %}
{{ 'section-te-newsletter.css' | asset_url | stylesheet_tag }}
<noscript>{{ 'section-te-newsletter.css' | asset_url | stylesheet_tag }}</noscript>

<div
  class="color--{{ section.settings.color_scheme }} te-section-container--full-width"
>
  <div class="te_grid-container te_grid-container--3-col-auto">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'newsletter-title' %}
          <div class="newsletter__title-block" {{ block.shopify_attributes }}>
            <h2>{{ block.settings['newsletter-title__header'] }}</h2>
            <p>{{ block.settings['newsletter-title__caption'] }}</p>
          </div>
        {% when 'newsletter-form' %}
          <div class="newsletter__form-block" {{ block.shopify_attributes }}>
            <div class="newsletter__input-fields">
              <form action="#" method="post" target="_blank">
                <input
                  type="email"
                  id="newsletter__input-email"
                  placeholder="{{ block.settings['newsletter-form__placeholder-text'] }}"
                >

                <input
                  type="submit"
                  id="newsletter__input-submit"
                  value="{{ block.settings.newsletter-form__button-text }}"
                >
              </form>
            </div>
            <div class="newsletter__disclaimer">
              {{ block.settings['newsletter-form__disclaimer'] }}
            </div>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "TE Newsletter",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Background Colors"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "te-default",
          "label": "t:sections.all.colors.te-color-default.label"
        },
        {
          "value": "te-cream-dark",
          "label": "t:sections.all.colors.te-color-cream-dark.label"
        },
        {
          "value": "te-teal-light",
          "label": "t:sections.all.colors.te-color-teal-light.label"
        },
        {
          "value": "te-teal-dark",
          "label": "t:sections.all.colors.te-color-teal-dark.label"
        },
        {
          "value": "te-silver-light",
          "label": "t:sections.all.colors.te-color-silver-light.label"
        },
        {
          "value": "te-silver-dark",
          "label": "t:sections.all.colors.te-color-silver-dark.label"
        },
        {
          "value": "te-black-white",
          "label": "t:sections.all.colors.te-color-black-white.label"
        }
      ],
      "default": "te-default",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "checkbox",
      "id": "newsletter_full-width",
      "label": "Full width section:",
      "default": false
    }
  ],
  "max_blocks": 2,
  "blocks": [
    {
      "type": "newsletter-title",
      "name": "Title Block",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "newsletter-title__header",
          "label": "Title",
          "default": "<p>Subscribe to our newsletter to stay updated with all of our special offers</p>"
        },
        {
          "type": "textarea",
          "id": "newsletter-title__caption",
          "label": "Caption",
          "default": "Phasellus rhoncus augue non felis hendrerit pellentesque."
        }
      ]
    },
    {
      "type": "newsletter-form",
      "name": "Input Block",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "newsletter-form__placeholder-text",
          "label": "Label text",
          "default": "Enter your email"
        },
        {
          "type": "text",
          "id": "newsletter-form__button-text",
          "label": "Button text",
          "default": "Subscribe"
        },
        {
          "type": "textarea",
          "id": "newsletter-form__disclaimer",
          "label": "Disclaimer",
          "default": "Phasellus sollicitudin ut augue non pharetra."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "TE Newsletter",
      "blocks": [
        {
          "type": "newsletter-title"
        },
        {
          "type": "newsletter-form"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
