{{ 'section-te-plans-pricing.css' | asset_url | stylesheet_tag }}
<script src="{{ 'plans-pricing.js' | asset_url }}" defer="defer"></script>

<div
  class="color--{{ section.settings.color_scheme }} te-section-container--full-width"
  data-section-type="{{ section.name }}"
  data-section-id="{{ section.id }}"
>
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'product-selector--1' %}
        {% assign plan-1 = all_products[block.settings['plan-1']] %}

      {% when 'product-selector--2' %}
        {% assign plan-2 = all_products[block.settings['plan-2']] %}

      {% when 'product-selector--3' %}
        {% assign plan-3 = all_products[block.settings['plan-3']] %}
    {% endcase %}
  {% endfor %}

  <div class="section--te-plans-pricing">
    <div class="plans-pricing__header-container">
      <div class="plans-pricing__titles">
        <h2>{{ section.settings['plans-pricing__title'] }}</h2>
        <h5>{{ section.settings['plans-pricing__subtitle'] }}</h5>
      </div>
      <div class="plans-pricing__tabs-container">
        <div class="plans-pricing__tab">
          <input id="plan-1__tab" class="tab__input" type="radio" name="frequency-group" value="plan-1">
          <label for="plan-1__tab" class="radio-label">{{ section.settings['variant-1__caption'] }}</label>
        </div>
        <div class="plans-pricing__tab">
          <input id="plan-2__tab" class="tab__input" type="radio" name="frequency-group" value="plan-2" checked>
          <label for="plan-2__tab" class="radio-label">{{ section.settings['variant-2__caption'] }}</label>
        </div>
        <div class="plans-pricing__tab">
          <input id="plan-3__tab" class="tab__input" type="radio" name="frequency-group" value="plan-3">
          <label for="plan-3__tab" class="radio-label">{{ section.settings['variant-3__caption'] }}</label>
        </div>
      </div>
    </div>

    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'product-selector--1' %}
          {% assign selected-plan = plan-1 %}
          {% assign selling-plan_id = selected-plan.selling_plan_groups[0].selling_plans[0].id %}
          {% capture selling-plan-group_name %}{{ selected-plan.selling_plan_groups[0].name }}{% endcapture %}
          {% assign variant5 = selected-plan.variants[0] %}
          {% assign variant8 = selected-plan.variants[1] %}
          {% assign variant10 = selected-plan.variants[2] %}
          <div
            id="plan-1__display"
            class="plans-pricing__card-container hidden"
          >
            <div id="variant-1__card" class="plans-pricing__product-card">
              <div class="product-card__header">
                <div class="card-header__content">
                  <div class="content__title-badge">
                    <span class="card__title">{{ variant5.title }}</span>
                  </div>
                  <div>
                    <span class="te-display--lg te-weight--display-semibold">
                      {{- variant5.price | money_without_trailing_zeros -}}
                    </span>
                    <span class="te-text--md te-font-color--dk-gray">{{ block.settings['plan-1__frequency'] }}</span>
                  </div>
                  <div>
                    <span class="te-text--md te-weight--text-normal te-font-color--dk-gray">
                      {{- section.settings['variant-1__blurb'] -}}
                    </span>
                  </div>
                </div>
                <div class="card-header__actions">
                  <button
                    class="card__cta te-button--green te-text te-text--lg"
                    onclick="onBeginRecFlow({{ selling-plan_id }}, {{ variant5.id }}, '{{ selling-plan-group_name }}', '5')"
                  >
                    Get Started
                  </button>
                </div>
              </div>

              <div class="product-card__features">
                <div class="feat__intro">
                  <span class="te-text te-text--md te-weight--text-semibold">Our introductory plan...</span>
                  {% unless section.settings['variant-1__includes'] == blank %}
                    <span class="te-text te-text--md te-weight--text-normal te-font-color--dk-gray">
                      {{- section.settings['variant-1__includes'] -}}
                    </span>
                  {% endunless %}
                </div>
                <ul class="product-card__feat-list te-font-color--dk-gray">
                  <li>{{ section.settings['variant-1__feat-1'] }}</li>
                  <li>{{ section.settings['variant-1__feat-2'] }}</li>
                  <li>{{ section.settings['variant-1__feat-3'] }}</li>
                </ul>
              </div>
            </div>

            <div id="variant-2__card" class="plans-pricing__product-card">
              <div class="product-card__header">
                <div class="card-header__content">
                  <div class="content__title-badge">
                    <span class="card__title">{{ variant8.title }}</span>
                    <span class="card__badge">Popular</span>
                  </div>
                  <div>
                    <span class="te-display--lg te-weight--display-semibold">
                      {{- variant8.price | money_without_trailing_zeros -}}
                    </span>
                    <span class="te-text--md te-font-color--dk-gray">{{ block.settings['plan-1__frequency'] }}</span>
                  </div>
                  <div>
                    <span class="te-text--md te-weight--text-normal te-font-color--dk-gray">
                      {{- section.settings['variant-2__blurb'] -}}
                    </span>
                  </div>
                </div>
                <div class="card-header__actions">
                  <button
                    class="card__cta te-button--green te-text te-text--lg"
                    onclick="onBeginRecFlow({{ selling-plan_id }}, {{ variant8.id }}, '{{ selling-plan-group_name }}', '8')"
                  >
                    Get Started
                  </button>
                </div>
              </div>

              <div class="product-card__features">
                <div class="feat__intro">
                  <span class="te-text te-text--md te-weight--text-semibold">Our most loved plan...</span>
                  {% unless section.settings['variant-2__includes'] == blank %}
                    <span class="te-text te-text--md te-weight--text-normal te-font-color--dk-gray">
                      {{- section.settings['variant-2__includes'] -}}
                    </span>
                  {% endunless %}
                </div>
                <ul class="product-card__feat-list te-font-color--dk-gray">
                  <li>{{ section.settings['variant-2__feat-1'] }}</li>
                  <li>{{ section.settings['variant-2__feat-2'] }}</li>
                  <li>{{ section.settings['variant-2__feat-3'] }}</li>
                </ul>
              </div>
            </div>

            <div id="variant-3__card" class="plans-pricing__product-card">
              <div class="product-card__header">
                <div class="card-header__content">
                  <div class="content__title-badge">
                    <span class="card__title">{{ variant10.title }}</span>
                  </div>
                  <div>
                    <span class="te-display--lg te-weight--display-semibold">
                      {{- variant10.price | money_without_trailing_zeros -}}
                    </span>
                    <span class="te-text--md te-font-color--dk-gray">{{ block.settings['plan-1__frequency'] }}</span>
                  </div>
                  <div>
                    <span class="te-text--md te-weight--text-normal te-font-color--dk-gray">
                      {{- section.settings['variant-3__blurb'] -}}
                    </span>
                  </div>
                </div>
                <div class="card-header__actions">
                  <button
                    class="card__cta te-button--green te-text te-text--lg"
                    onclick="onBeginRecFlow({{ selling-plan_id }}, {{ variant10.id }}, '{{ selling-plan-group_name }}', '10')"
                  >
                    Get Started
                  </button>
                </div>
              </div>

              <div class="product-card__features">
                <div class="feat__intro">
                  <span class="te-text te-text--md te-weight--text-semibold">Great for multiple children...</span>
                  {% unless section.settings['variant-3__includes'] == blank %}
                    <span class="te-text te-text--md te-weight--text-normal te-font-color--dk-gray">
                      {{- section.settings['variant-3__includes'] -}}
                    </span>
                  {% endunless %}
                </div>
                <ul class="product-card__feat-list te-font-color--dk-gray">
                  <li>{{ section.settings['variant-3__feat-1'] }}</li>
                  <li>{{ section.settings['variant-3__feat-2'] }}</li>
                  <li>{{ section.settings['variant-3__feat-3'] }}</li>
                </ul>
              </div>
            </div>
          </div>

        {% when 'product-selector--2' %}
          {% assign selected-plan = plan-2 %}
          {% assign selling-plan_id = selected-plan.selling_plan_groups[0].selling_plans[0].id %}
          {% capture selling-plan-group_name %}{{ selected-plan.selling_plan_groups[0].name }}{% endcapture %}
          {% assign variant5 = selected-plan.variants[0] %}
          {% assign variant8 = selected-plan.variants[1] %}
          {% assign variant10 = selected-plan.variants[2] %}
          <div
            id="plan-2__display"
            class="plans-pricing__card-container"
          >
            <div id="variant-1__card" class="plans-pricing__product-card">
              <div class="product-card__header">
                <div class="card-header__content">
                  <div class="content__title-badge">
                    <span class="card__title">{{ variant5.title }}</span>
                  </div>
                  <div>
                    <span class="te-display--lg te-weight--display-semibold">
                      {{- variant5.price | money_without_trailing_zeros -}}
                    </span>
                    <span class="te-text--md te-font-color--dk-gray">{{ block.settings['plan-2__frequency'] }}</span>
                  </div>
                  <div>
                    <span class="te-text--md te-weight--text-normal te-font-color--dk-gray">
                      {{- section.settings['variant-1__blurb'] -}}
                    </span>
                  </div>
                </div>
                <div class="card-header__actions">
                  <button
                    class="card__cta te-button--green te-text te-text--lg"
                    onclick="onBeginRecFlow({{ selling-plan_id }}, {{ variant5.id }}, '{{ selling-plan-group_name }}', '5')"
                  >
                    Get Started
                  </button>
                </div>
              </div>

              <div class="product-card__features">
                <div class="feat__intro">
                  <span class="te-text te-text--md te-weight--text-semibold">Our introductory plan...</span>
                  {% unless section.settings['variant-1__includes'] == blank %}
                    <span class="te-text te-text--md te-weight--text-normal te-font-color--dk-gray">
                      {{- section.settings['variant-1__includes'] -}}
                    </span>
                  {% endunless %}
                </div>
                <ul class="product-card__feat-list te-font-color--dk-gray">
                  <li>{{ section.settings['variant-1__feat-1'] }}</li>
                  <li>{{ section.settings['variant-1__feat-2'] }}</li>
                  <li>{{ section.settings['variant-1__feat-3'] }}</li>
                  <li class="te-weight--text-semibold">Access to free FedEx home pickup</li>
                </ul>
              </div>
            </div>

            <div id="variant-2__card" class="plans-pricing__product-card">
              <div class="product-card__header">
                <div class="card-header__content">
                  <div class="content__title-badge">
                    <span class="card__title">{{ variant8.title }}</span>
                    <span class="card__badge">Popular</span>
                  </div>
                  <div>
                    <span class="te-display--lg te-weight--display-semibold">
                      {{- variant8.price | money_without_trailing_zeros -}}
                    </span>
                    <span class="te-text--md te-font-color--dk-gray">{{ block.settings['plan-2__frequency'] }}</span>
                  </div>
                  <div>
                    <span class="te-text--md te-weight--text-normal te-font-color--dk-gray">
                      {{- section.settings['variant-2__blurb'] -}}
                    </span>
                  </div>
                </div>
                <div class="card-header__actions">
                  <button
                    class="card__cta te-button--green te-text te-text--lg"
                    onclick="onBeginRecFlow({{ selling-plan_id }}, {{ variant8.id }}, '{{ selling-plan-group_name }}', '8')"
                  >
                    Get Started
                  </button>
                </div>
              </div>

              <div class="product-card__features">
                <div class="feat__intro">
                  <span class="te-text te-text--md te-weight--text-semibold">Our most loved plan...</span>
                  {% unless section.settings['variant-2__includes'] == blank %}
                    <span class="te-text te-text--md te-weight--text-normal te-font-color--dk-gray">
                      {{- section.settings['variant-2__includes'] -}}
                    </span>
                  {% endunless %}
                </div>
                <ul class="product-card__feat-list te-font-color--dk-gray">
                  <li>{{ section.settings['variant-2__feat-1'] }}</li>
                  <li>{{ section.settings['variant-2__feat-2'] }}</li>
                  <li>{{ section.settings['variant-2__feat-3'] }}</li>
                  <li class="te-weight--text-semibold">Access to free FedEx home pickup</li>
                </ul>
              </div>
            </div>

            <div id="variant-3__card" class="plans-pricing__product-card">
              <div class="product-card__header">
                <div class="card-header__content">
                  <div class="content__title-badge">
                    <span class="card__title">{{ variant10.title }}</span>
                  </div>
                  <div>
                    <span class="te-display--lg te-weight--display-semibold">
                      {{- variant10.price | money_without_trailing_zeros -}}
                    </span>
                    <span class="te-text--md te-font-color--dk-gray">{{ block.settings['plan-2__frequency'] }}</span>
                  </div>
                  <div>
                    <span class="te-text--md te-weight--text-normal te-font-color--dk-gray">
                      {{- section.settings['variant-3__blurb'] -}}
                    </span>
                  </div>
                </div>
                <div class="card-header__actions">
                  <button
                    class="card__cta te-button--green te-text te-text--lg"
                    onclick="onBeginRecFlow({{ selling-plan_id }}, {{ variant10.id }}, '{{ selling-plan-group_name }}', '10')"
                  >
                    Get Started
                  </button>
                </div>
              </div>

              <div class="product-card__features">
                <div class="feat__intro">
                  <span class="te-text te-text--md te-weight--text-semibold">Great for multiple children...</span>
                  {% unless section.settings['variant-3__includes'] == blank %}
                    <span class="te-text te-text--md te-weight--text-normal te-font-color--dk-gray">
                      {{- section.settings['variant-3__includes'] -}}
                    </span>
                  {% endunless %}
                </div>
                <ul class="product-card__feat-list te-font-color--dk-gray">
                  <li>{{ section.settings['variant-3__feat-1'] }}</li>
                  <li>{{ section.settings['variant-3__feat-2'] }}</li>
                  <li>{{ section.settings['variant-3__feat-3'] }}</li>
                  <li class="te-weight--text-semibold">Access to free FedEx home pickup</li>
                </ul>
              </div>
            </div>
          </div>

        {% when 'product-selector--3' %}
          {% assign selected-plan = plan-3 %}
          {% assign selling-plan_id = selected-plan.selling_plan_groups[0].selling_plans[0].id %}
          {% capture selling-plan-group_name %}{{ selected-plan.selling_plan_groups[0].name }}{% endcapture %}
          {% assign variant5 = selected-plan.variants[0] %}
          {% assign variant8 = selected-plan.variants[1] %}
          {% assign variant10 = selected-plan.variants[2] %}
          <div
            id="plan-3__display"
            class="plans-pricing__card-container hidden"
          >
            <div id="variant-1__card" class="plans-pricing__product-card">
              <div class="product-card__header">
                <div class="card-header__content">
                  <div class="content__title-badge">
                    <span class="card__title">{{ variant5.title }}</span>
                  </div>
                  <div>
                    <span class="te-display--lg te-weight--display-semibold">
                      {{- variant5.price | money_without_trailing_zeros -}}
                    </span>
                    <span class="te-text--md te-font-color--dk-gray">{{ block.settings['plan-3__frequency'] }}</span>
                  </div>
                  <div>
                    <span class="te-text--md te-weight--text-normal te-font-color--dk-gray">
                      {{- section.settings['variant-1__blurb'] -}}
                    </span>
                  </div>
                </div>
                <div class="card-header__actions">
                  <button
                    class="card__cta te-button--green te-text te-text--lg"
                    onclick="onBeginRecFlow({{ selling-plan_id }}, {{ variant5.id }}, '{{ selling-plan-group_name }}', '5')"
                  >
                    Get Started
                  </button>
                </div>
              </div>

              <div class="product-card__features">
                <div class="feat__intro">
                  <span class="te-text te-text--md te-weight--text-semibold">Our introductory plan...</span>
                  {% unless section.settings['variant-1__includes'] == blank %}
                    <span class="te-text te-text--md te-weight--text-normal te-font-color--dk-gray">
                      {{- section.settings['variant-1__includes'] -}}
                    </span>
                  {% endunless %}
                </div>
                <ul class="product-card__feat-list te-font-color--dk-gray">
                  <li>{{ section.settings['variant-1__feat-1'] }}</li>
                  <li>{{ section.settings['variant-1__feat-2'] }}</li>
                  <li>{{ section.settings['variant-1__feat-3'] }}</li>
                  <li class="te-weight--text-semibold">Access to free FedEx home pickup</li>
                  <li class="te-weight--text-semibold">Includes a free bonus exchange!</li>
                </ul>
              </div>
            </div>

            <div id="variant-2__card" class="plans-pricing__product-card">
              <div class="product-card__header">
                <div class="card-header__content">
                  <div class="content__title-badge">
                    <span class="card__title">{{ variant8.title }}</span>
                    <span class="card__badge">Popular</span>
                  </div>
                  <div>
                    <span class="te-display--lg te-weight--display-semibold">
                      {{- variant8.price | money_without_trailing_zeros -}}
                    </span>
                    <span class="te-text--md te-font-color--dk-gray">{{ block.settings['plan-3__frequency'] }}</span>
                  </div>
                  <div>
                    <span class="te-text--md te-weight--text-normal te-font-color--dk-gray">
                      {{- section.settings['variant-2__blurb'] -}}
                    </span>
                  </div>
                </div>
                <div class="card-header__actions">
                  <button
                    class="card__cta te-button--green te-text te-text--lg"
                    onclick="onBeginRecFlow({{ selling-plan_id }}, {{ variant8.id }}, '{{ selling-plan-group_name }}', '8')"
                  >
                    Get Started
                  </button>
                </div>
              </div>

              <div class="product-card__features">
                <div class="feat__intro">
                  <span class="te-text te-text--md te-weight--text-semibold">Our most loved plan...</span>
                  {% unless section.settings['variant-2__includes'] == blank %}
                    <span class="te-text te-text--md te-weight--text-normal te-font-color--dk-gray">
                      {{- section.settings['variant-2__includes'] -}}
                    </span>
                  {% endunless %}
                </div>
                <ul class="product-card__feat-list te-font-color--dk-gray">
                  <li>{{ section.settings['variant-2__feat-1'] }}</li>
                  <li>{{ section.settings['variant-2__feat-2'] }}</li>
                  <li>{{ section.settings['variant-2__feat-3'] }}</li>
                  <li class="te-weight--text-semibold">Access to free FedEx home pickup</li>
                  <li class="te-weight--text-semibold">Includes a free bonus exchange!</li>
                </ul>
              </div>
            </div>

            <div id="variant-3__card" class="plans-pricing__product-card">
              <div class="product-card__header">
                <div class="card-header__content">
                  <div class="content__title-badge">
                    <span class="card__title">{{ variant10.title }}</span>
                  </div>
                  <div>
                    <span class="te-display--lg te-weight--display-semibold">
                      {{- variant10.price | money_without_trailing_zeros -}}
                    </span>
                    <span class="te-text--md te-font-color--dk-gray">{{ block.settings['plan-3__frequency'] }}</span>
                  </div>
                  <div>
                    <span class="te-text--md te-weight--text-normal te-font-color--dk-gray">
                      {{- section.settings['variant-3__blurb'] -}}
                    </span>
                  </div>
                </div>
                <div class="card-header__actions">
                  <button
                    class="card__cta te-button--green te-text te-text--lg"
                    onclick="onBeginRecFlow({{ selling-plan_id }}, {{ variant10.id }}, '{{ selling-plan-group_name }}', '10')"
                  >
                    Get Started
                  </button>
                </div>
              </div>

              <div class="product-card__features">
                <div class="feat__intro">
                  <span class="te-text te-text--md te-weight--text-semibold">Great for multiple children</span>
                  {% unless section.settings['variant-3__includes'] == blank %}
                    <span class="te-text te-text--md te-weight--text-normal te-font-color--dk-gray">
                      {{- section.settings['variant-3__includes'] -}}
                    </span>
                  {% endunless %}
                </div>
                <ul class="product-card__feat-list te-font-color--dk-gray">
                  <li>{{ section.settings['variant-3__feat-1'] }}</li>
                  <li>{{ section.settings['variant-3__feat-2'] }}</li>
                  <li>{{ section.settings['variant-3__feat-3'] }}</li>
                  <li class="te-weight--text-semibold">Access to free FedEx home pickup</li>
                  <li class="te-weight--text-semibold">Includes a free bonus exchange!</li>
                </ul>
              </div>
            </div>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Membership Plans",
  "settings": [
    {
      "type": "header",
      "content": "Background Colors"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "te-default",
          "label": "t:sections.all.colors.te-color-default.label"
        },
        {
          "value": "te-cream-dark",
          "label": "t:sections.all.colors.te-color-cream-dark.label"
        },
        {
          "value": "te-teal-light",
          "label": "t:sections.all.colors.te-color-teal-light.label"
        },
        {
          "value": "te-teal-dark",
          "label": "t:sections.all.colors.te-color-teal-dark.label"
        },
        {
          "value": "te-silver-light",
          "label": "t:sections.all.colors.te-color-silver-light.label"
        },
        {
          "value": "te-silver-dark",
          "label": "t:sections.all.colors.te-color-silver-dark.label"
        },
        {
          "value": "te-black-white",
          "label": "t:sections.all.colors.te-color-black-white.label"
        }
      ],
      "default": "te-default",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "Section Titles"
    },
    {
      "type": "richtext",
      "id": "plans-pricing__title",
      "default": "<p>Main Header for Pricing</p>",
      "label": "Section header"
    },
    {
      "type": "text",
      "id": "plans-pricing__subtitle",
      "default": "Esse quam videri",
      "label": "Section subheader"
    },
    {
      "type": "header",
      "content": "First Variant Details"
    },
    {
      "type": "text",
      "id": "variant-1__caption",
      "label": "Caption",
      "default": "Monthly"
    },
    {
      "type": "text",
      "id": "variant-1__blurb",
      "label": "Supporting text",
      "default": "Avg. kit value = $$$"
    },
    {
      "type": "richtext",
      "id": "variant-1__includes",
      "label": "Features title",
      "default": "<p>Our introductory plan includes...</p>"
    },
    {
      "type": "text",
      "id": "variant-1__feat-1",
      "label": "1st variant feature",
      "default": "Sed et pellentesque dui"
    },
    {
      "type": "text",
      "id": "variant-1__feat-2",
      "label": "2nd variant feature",
      "default": "Nam in nunc et eros"
    },
    {
      "type": "text",
      "id": "variant-1__feat-3",
      "label": "3rd variant feature",
      "default": "Pellentesque congue congue"
    },
    {
      "type": "header",
      "content": "Second Variant Details"
    },
    {
      "type": "text",
      "id": "variant-2__caption",
      "label": "Caption",
      "default": "Half-yearly"
    },
    {
      "type": "text",
      "id": "variant-2__blurb",
      "label": "Supporting text",
      "default": "Avg. kit value = $$$"
    },
    {
      "type": "richtext",
      "id": "variant-2__includes",
      "label": "Features title",
      "default": "<p>Everything in 5 toy plan plus...</p>"
    },
    {
      "type": "text",
      "id": "variant-2__feat-1",
      "label": "1st variant feature",
      "default": "Sed et pellentesque dui"
    },
    {
      "type": "text",
      "id": "variant-2__feat-2",
      "label": "2nd variant feature",
      "default": "Nam in nunc et eros"
    },
    {
      "type": "text",
      "id": "variant-2__feat-3",
      "label": "3rd variant feature",
      "default": "Pellentesque congue congue"
    },
    {
      "type": "header",
      "content": "Third Variant Details"
    },
    {
      "type": "text",
      "id": "variant-3__caption",
      "label": "Caption",
      "default": "Annual"
    },
    {
      "type": "text",
      "id": "variant-3__blurb",
      "label": "Supporting text",
      "default": "Avg. kit value = $$$"
    },
    {
      "type": "richtext",
      "id": "variant-3__includes",
      "label": "Features title",
      "default": "<p>Everything in 8 toys plus...</p>"
    },
    {
      "type": "text",
      "id": "variant-3__feat-1",
      "label": "1st variant feature",
      "default": "Sed et pellentesque dui"
    },
    {
      "type": "text",
      "id": "variant-3__feat-2",
      "label": "2nd variant feature",
      "default": "Nam in nunc et eros"
    },
    {
      "type": "text",
      "id": "variant-3__feat-3",
      "label": "3rd variant feature",
      "default": "Pellentesque congue congue"
    }
  ],
  "blocks": [
    {
      "type": "product-selector--1",
      "name": "First Product",
      "limit": 1,
      "settings": [
        {
          "type": "product",
          "id": "plan-1",
          "label": "Select 1st plan"
        },
        {
          "type": "text",
          "id": "plan-1__frequency",
          "label": "Billing frequency",
          "default": "per month"
        }
      ]
    },
    {
      "type": "product-selector--2",
      "name": "Second Product",
      "limit": 1,
      "settings": [
        {
          "type": "product",
          "id": "plan-2",
          "label": "Select 2nd product"
        },
        {
          "type": "text",
          "id": "plan-2__frequency",
          "label": "Billing frequency",
          "default": "per month"
        }
      ]
    },
    {
      "type": "product-selector--3",
      "name": "Third Product",
      "limit": 1,
      "settings": [
        {
          "type": "product",
          "id": "plan-3",
          "label": "Select 3rd product"
        },
        {
          "type": "text",
          "id": "plan-3__frequency",
          "label": "Billing frequency",
          "default": "per month"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Plans and Pricing",
      "blocks": [
        {
          "type": "product-selector--1"
        },
        {
          "type": "product-selector--2"
        },
        {
          "type": "product-selector--3"
        }
      ]
    }
  ]
}
{% endschema %}
