{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-blog.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'section-te-testamonials.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-te-testamonials.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
{%- liquid
  assign posts_displayed = 3
  if section.settings.post_limit <= 3
    assign posts_exceed_limit = true
    assign posts_displayed = section.settings.post_limit
  endif
-%}

<div
  class="color--{{ section.settings.color_scheme }} te-section-container--full-width"
  data-section-type="{{ section.settings.name }}"
  data-section-id="{{ section.id }}"
>
  <div class="section--te-testamonials">
    <div class="testamonials-container">
      <div class="tc-content">
        <slider-component class="slider-mobile-gutter">
          <ul
            id="Slider-{{ section.id }}"
            class="grid grid--1-col-desktop slider slider--desktop "
            role="list"
          >
            {%- for block in section.blocks limit: section.settings.post_limit -%}
              <li
                id="Slide-{{ section.id }}-{{ forloop.index }}"
                class="slider__slide slider__slide--full-width"
              >
                <div class="tc-content--quote">
                  <h2 class="te-display--lg te-weight--med">
                    {{ block.settings.testamonial_text }}
                  </h2>
                </div>
                <div class="tc-content--attribution">
                  <div class="attribution-author">
                    <img class="attribution-author--avatar" loading="lazy" src="{{ 'avatar.png' | asset_url }}">
                    <div class="attribution-author--text te-text">
                      <h6 class="te-text--lg te-weight--text-semibold">{{ block.settings.author_name }}</h6>
                      <p class="te-text--md te-weight--text-normal">{{ block.settings.author_title }}</p>
                    </div>
                  </div>
                </div>
              </li>
            {%- endfor -%}
          </ul>
          <div class="slider-buttons no-js-hidden{% if section.settings.post_limit < 3 %} medium-hide{% endif %}{% if section.settings.post_limit < 2 %} small-hide{% endif %}">
            <button
              type="button"
              class="slider-button slider-button--prev"
              name="previous"
              aria-label="{{ 'general.slider.previous_slide' | t }}"
            >
              {% render 'icon-caret' %}
            </button>
            <div class="slider-counter caption">
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true"> / </span>
              <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
              <span class="slider-counter--total">3</span>
            </div>
            <button
              type="button"
              class="slider-button slider-button--next"
              name="next"
              aria-label="{{ 'general.slider.next_slide' | t }}"
            >
              {% render 'icon-caret' %}
            </button>
          </div>
        </slider-component>
      </div>
      <div class="tc-image-wrapper">
        {%- unless section.settings.primary_image == blank -%}
          <img
            src="{{ section.settings.primary_image | image_url: width: 592 }}"
            loading="lazy"
            width="592"
            height=""
          >
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endunless -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "TE Testamonials",
  "tag": "section",
  "class": "te-section-container",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 48
    },
    {
      "type": "header",
      "content": "Background Colors"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "te-default",
          "label": "t:sections.all.colors.te-color-default.label"
        },
        {
          "value": "te-cream-dark",
          "label": "t:sections.all.colors.te-color-cream-dark.label"
        },
        {
          "value": "te-teal-light",
          "label": "t:sections.all.colors.te-color-teal-light.label"
        },
        {
          "value": "te-teal-dark",
          "label": "t:sections.all.colors.te-color-teal-dark.label"
        },
        {
          "value": "te-silver-light",
          "label": "t:sections.all.colors.te-color-silver-light.label"
        },
        {
          "value": "te-silver-dark",
          "label": "t:sections.all.colors.te-color-silver-dark.label"
        },
        {
          "value": "te-black-white",
          "label": "t:sections.all.colors.te-color-black-white.label"
        }
      ],
      "default": "te-default",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "image_picker",
      "id": "primary_image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-with-text.settings.height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.height.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.height.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.image-with-text.settings.height.label"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-with-text.settings.desktop_image_width.label",
      "info": "t:sections.image-with-text.settings.desktop_image_width.info"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "Post limit"
    }
  ],
  "blocks": [
    {
      "type": "testamonial-block",
      "name": "Testamonial",
      "settings": [
        {
          "type": "header",
          "content": "Author Information"
        },
        {
          "type": "text",
          "id": "author_name",
          "label": "Author's name",
          "default": "Jane Smith"
        },
        {
          "type": "text",
          "id": "author_title",
          "label": "Author's title or location",
          "default": "Walla Walla, WA"
        },
        {
          "type": "image_picker",
          "id": "author_image",
          "label": "Author image"
        },
        {
          "type": "richtext",
          "id": "testamonial_text",
          "label": "Main text",
          "default": "<p>Vivamus feugiat, nunc sed volutpat commodo, dolor dolor auctor magna, sit amet congue elit massa.</p>"
        },
        {
          "type": "select",
          "id": "testamonial_rating",
          "options": [
            {
              "value": "*",
              "label": "*"
            },
            {
              "value": "**",
              "label": "**"
            },
            {
              "value": "***",
              "label": "***"
            },
            {
              "value": "****",
              "label": "****"
            },
            {
              "value": "*****",
              "label": "*****"
            }
          ],
          "default": "*****",
          "label": "Stars"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "TE Testamonials",
      "blocks": [
        {
          "type": "testamonial-block"
        },
        {
          "type": "testamonial-block"
        },
        {
          "type": "testamonial-block"
        }
      ]
    }
  ]
}
{% endschema %}
